@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600;700&family=Give+You+Glory&family=Josefin+Sans:wght@300;400&family=Open+Sans:wght@300;400&display=swap');


:root {
  --font-txt: 'Josefin Sans', sans-serif;
  --font-txt2: 'Open Sans', sans-serif;
  --font-title: 'Cormorant Upright', serif;
  --font-signature: 'Give You Glory', cursive;

  --color-white: #FFFFFF;
  --color-golden: #DCCA87;
  --color-gray: #AAAAAA;
  --color-black: #000000
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-txt);
  font-weight: 300;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}