header {
    background: var(--color-black);
}

header.section__padding {
    padding: 2rem 6rem;
}

header h1 {
    font-family: var(--font-title);
    color: var(--color-white);
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
    .concavo__navbar-smallScreen {
        display: flex;
    }

    .concavo__navbar-bigScreen {
        display: none;
     } 
}

@media screen and (max-width: 450px) {
    header h1 {
        font-size: 35px;
    }
    header.section__padding {
        padding: 2rem 2rem;
    }

}


